<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Update drawing</title>
</head>
<body>
<form class="container" action="#" th:action="@{/drawings/update/{id}(id=${drawing.id})}" th:object="${drawing}" method="post">
    <h3>Update drawing</h3>
    <label>Name Product</label>
    <br>
        <input name="product" th:text="${drawing.getProduct().productName}" th:value="${drawing.getProduct().id}" hidden="hidden">
    </br>
    <label>Name Drawing</label>
    <br>
    <input type="text" name="drawingName" th:value="${drawing.drawingName}"/>
    </br>
    <label>Checked</label>
    <br>
    <select name="checked">
        <option th:each="employee : ${employees}" th:text="${employee.firstName}  + ' ' +  ${employee.lastName}"
                th:value="${employee.id}" th:required="required"></option>
    </select>
    </br>
    <label>Developed</label>
    <br>
    <select name="developed">
        <option th:each="employee : ${employees}" th:text="${employee.firstName}  + ' ' +   ${employee.lastName}"
                th:value="${employee.id}"></option>
    </select>
    </br>
    <label>Approved</label>
    <br>
    <select name="approved">
        <option th:each="employee : ${employees}" th:text="${employee.firstName}   + ' ' +  ${employee.lastName}"
                th:value="${employee.id}"></option>
    </select>
    </br>
    <tr>
        <td>
            <button type="submit" th:text="#{button.submit}"></button>
        </td>
    </tr>
</form>
<div th:replace="include/footer :: footer"></div>
</body>
</html>