<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head :: head">
    <title th:text="#{product.message.add}"></title>
</head>
<body>
<div th:replace="include/header :: header"></div>
<form class="container" action="/products" method="post">
    <br>
    <h3><span th:text="#{product.message.add}"></span></h3>

    <br><label th:text="#{product.message.add}"></label>
    <br>
    <input type="text" name="productName" th:value="${product.productName}" required/>
    <br>
    <br>
    <button type="submit" th:text="#{button.submit}"></button>
</form>
<div th:replace="include/footer :: footer"></div>
</body>
</html>