<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head :: head">
    <title>Add new product</title>
</head>
<body>
<div th:replace="include/header :: header"></div>
<form class="container" action="/products" method="post">
    <h3>Add new product</h3>
    <table>
        <tr>
            <td><label>Name Product</label></td>
            <td>
                <input type="text" name="productName" th:value="${product.productName}" required/>
            </td>
        </tr>
    </table>
    <tr>
        <td>
            <input type="submit" value="Submit"/>
        </td>
    </tr>
</form>
<div th:replace="include/footer :: footer"></div>
</body>
</html>