<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div class="container" th:fragment="header">
    <form class="text-right" sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">
        <br>
        <button class="text-right" sec:authorize="!isAuthenticated()" th:action="@{/login}" type="submit" th:text="#{button.signin}"></button>
    </form>
    <form class="text-right" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <br>
        Hello, <b sec:authentication="name"></b>
        <button type="submit" th:text="#{button.signout}"></button>
    </form>
    <nav>
        <div>
            <a th:href="@{/}" th:text="#{menu.message.home}"></a>
            <a th:href="@{/products}" th:text="' | ' + #{menu.message.product}"></a>
            <a sec:authorize="isAuthenticated()" th:href="@{/employees}" th:text="' | ' + #{menu.message.employee}"></a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/departments}" th:text="' | ' + #{menu.message.department}"></a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/positions}" th:text="' | ' + #{menu.message.position}"></a>
        </div>
    </nav>
</div>
</body>
</html>