<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new position</title>
</head>
<body>
<h3>Add new position</h3>
<form action="/positions" method="post">
    <table>
        <tr>
            <td><label>Name Position</label></td>
            <td>
                <input type="text" name="positionName" th:value="${position.positionName}"/>
            </td>
        </tr>
    </table>
    <tr>
        <td colspan="2">
            <input type="submit" value="Submit"/>
        </td>
    </tr>
</form>

</body>
</html>