<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <title>Add new employee</title>
</head>
<body>
<div th:replace="include/header :: header"></div>
<form class="container" action="#" th:action="@{/employees/add}" method="post">
    <h3 th:text="#{employee.message.add}"></h3>
    <label th:text="#{employee.message.firstName}"></label>
    <br>
    <input type="text" name="firstName" th:value="${employee.firstName}" required/>
    </br>
    <label th:text="#{employee.message.middleName}"></label>
    <br>
    <input type="text" name="middleName" th:value="${employee.middleName}" required/>
    </br>
    <label th:text="#{employee.message.lastName}"></label>
    <br>
    <input type="text" name="lastName" th:value="${employee.lastName}" required/>
    </br>
    <label th:text="#{employee.message.phone}"></label>
    <br>
    <input type="tel" id="phone" name="phoneNumber" th:value="${employee.phoneNumber}"
           pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" minlength="19" maxlength="19"/>
    </br>
    <label th:text="#{employee.message.userName}"></label>
    <br>
    <input type="text" name="username" th:value="${user.username}"
           placeholder="User name" minlength="3" required/>
    </br>
    <label th:text="#{employee.message.password}"></label>
    <br>
    <input type="text" name="password" th:value="${user.password}"
           placeholder="Password" minlength="5" required/>
    </br>
    <br>
    <label th:text="#{employee.message.role}"></label>
    <select name="role">
        <option th:each="role : ${roles}" th:text="${role.toString().substring(5)}"
                th:value="${role}"></option>
    </select>

    </br>
    <br>
    <label th:text="#{employee.message.department}"></label>
    <select name="department" oninvalid="InvalidMsgDep(this)" required="required">
        <option th:each="department : ${departments}" th:text="${department.departmentName}"
                th:value="${department.id}"></option>
    </select>

    </br>
    <br>
    <label th:text="#{employee.message.positions}"></label>
    <select name="position" oninvalid="InvalidMsgPos(this)" required="required">
        <option th:each="position : ${positions}" th:text="${position.positionName}"
                th:value="${position.id}"></option>
    </select>
    </br>
    <tr>
        <td>
            <button type="submit" value="Submit" th:text="#{button.submit}"></button>
        </td>
    </tr>
</form>
<div th:replace="include/footer :: footer"></div>

<script>
    /**
     * @return {boolean}
     */
    function InvalidMsgDep(textbox) {
        if (textbox.value === '') {
            textbox.setCustomValidity
            ('[[#{error.message.dep}]]');
        }
        return true;
    }
</script>
<script>
    /**
     * @return {boolean}
     */
    function InvalidMsgPos(textbox) {
        if (textbox.value === '') {
            textbox.setCustomValidity
            ('[[#{error.message.pos}]]');
        }
        return true;
    }
</script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#phone").mask("+375 (99) 999-99-99");
    });
</script>
</body>
</html>