<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Example.com</a>
</nav>

<main role="main" class="container">

    <table class="table text-center border">
        <thead>
        <tr>
            <td>#</td>
            <td>First Name</td>
            <td>Middle Name</td>
            <td>Last Name</td>
            <td>Phone</td>
            <td>User Name</td>
            <td>User Password</td>
            <td>User Role</td>
            <td>Department</td>
            <td>Position</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td><span th:text="${employee.id}"></span></td>
            <td><span th:text="${employee.getFirstName()}"></span></td>
            <td><span th:text="${employee.getMiddleName()}"></span></td>
            <td><span th:text="${employee.getLastName()}"></span></td>
            <td><span th:text="${employee.getPhoneNumber()}"></span></td>
            <td><span th:text="${employee.getUser().userName}"></span></td>
            <td><span th:text="${employee.getUser().password}"></span></td>
            <td><span th:text="${employee.getUser().role}"></span></td>
            <td><span th:text="${employee.getDepartment().getDepartmentName()}"></span></td>
            <td><span th:text="${employee.getDepartment().getPositionInCompany().getPositionName()}"></span></td>
        </tr>
        </tbody>
    </table>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>