<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="include/head :: head">
    <title>Employees</title>
</head>

<body>

<div th:replace="include/header :: header"></div>
<main role="main" class="container">

    <table class="table text-center border">
        <thead>
        <tr>
            <td>#</td>
            <td>First Name</td>
            <td>Middle Name</td>
            <td>Last Name</td>
            <td>Phone</td>
            <td>User Name</td>
            <td>User Role</td>
            <td>Department</td>
            <td>Position</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td><span th:text="${employee.id}"></span></td>
            <td><a th:href="@{/employees/edit/(id=${employee.id})}"><span th:text="${employee.getFirstName()}"></span></a></td>
            <td><span th:text="${employee.getMiddleName()}"></span></td>
            <td><span th:text="${employee.getLastName()}"></span></td>
            <td><span th:text="${employee.getPhoneNumber()}"></span></td>
            <td><span th:text="${employee.getUser().username}"></span></td>
            <td><span th:text="${employee.getUser().authorities}"></span></td>
            <td><span th:text="${employee.getDepartment().getDepartmentName()}"></span></td>
            <td><span th:text="${employee.getPosition().positionName}"></span></td>
            <td>
            <form sec:authorize="isAuthenticated()" th:action="@{'/employees/delete/' + ${employee.id}}" th:method="post">
                <button type="submit">Delete</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form sec:authorize="isAuthenticated()" th:action="@{/employees/addEmployee}" th:method="get">
        <button type="submit">Add Employee</button>
    </form>
</main>
<div th:replace="include/footer :: footer"></div>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>