<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head :: head">
    <title>Add new employee</title>
</head>
<body>
<div th:replace="include/header :: header"></div>
<h3>Add new employee</h3>
<form action="#" th:action="@{/employees/update/{id}(id=${employee.id})}" th:object="${employee}" method="post">
    <label>First Name</label>
    <br>
    <input type="text" name="firstName" th:value="${employee.firstName}"/>
    </br>
    <label>Middle Name</label>
    <br>
    <input type="text" name="middleName" th:value="${employee.middleName}"/>
    </br>
    <label>Last Name</label>
    <br>
    <input type="text" name="lastName" th:value="${employee.lastName}"/>
    </br>
    <label>Phone</label>
    <br>
    <input type="text" name="phoneNumber" th:value="${employee.phoneNumber}"/>
    </br>
    <label>User Name</label>
    <br>
    <input type="text" name="username" th:value="${user.username}"
           placeholder="User name" minlength="3" required/>
    </br>
    <label>User password</label>
    <br>
    <input type="text" name="password" th:value="${user.encodePassword}"
           placeholder="Password" minlength="5" required/>
    </br>
    <br>
    <label> User role
        <select name="role">
            <option th:each="role : ${roles}" th:text="${role}"
                    th:value="${role}"></option>
        </select>
    </label>
    </br>
    <br>
    <label>Department
        <select  name="department" oninvalid="InvalidMsgDep(this)" required="required">
            <option th:each="department : ${departments}" th:text="${department.departmentName}"
                    th:value="${department.id}"></option>
        </select>
    </label>
    </br>
    <br>
    <label> Position in company
        <select name="position" oninvalid="InvalidMsgPos(this)" required="required">
            <option th:each="position : ${positions}" th:text="${position.positionName}"
                    th:value="${position.id}"></option>
        </select>
    </label>
    </br>
    <tr>
        <td colspan="2">
            <input type="submit" value="Submit"/>
        </td>
    </tr>
</form>
<div th:replace="include/footer :: footer"></div>

<script>
    /**
     * @return {boolean}
     */
    function InvalidMsgDep(textbox) {
        if (textbox.value === '') {
            let mess = '[[#{error.message.dep}]]';
            textbox.setCustomValidity
            (mess);
        }
        return true;
    }
</script>
<script>
    /**
     * @return {boolean}
     */
    function InvalidMsgPos(textbox) {
        let mess = '[[#{error.message.pos}]]';
        if (textbox.value === '') {
            textbox.setCustomValidity
            (mess);
        }
        return true;
    }
</script>
</body>
</html>