<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

</head>
<body>
<div th:replace="include/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <a th:href="@{employees}">Employees</a><br/>
        <a th:href="@{employees/addEmployee}">Add new Employee</a><br/>
        <a th:href="@{departments}">Departments</a><br/>
        <a th:href="@{departments/addDepartment}">Add new Department</a><br/>
        <a th:href="@{positions}">Positions in company</a><br/>
        <a th:href="@{positions/addPosition}">Add new Positions in company</a><br/>
        <a th:href="@{products}">Products</a><br/>
        <a th:href="@{products/addProduct}">Add new Product</a><br/>
        <a th:href="@{drawings}">Drawings</a><br/>
        <a th:href="@{drawings/addDrawing}">Add new Drawing</a><br/>
    </div>
</div>
<div th:replace="include/footer :: footer"></div>
</body>
</html>