<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a th:href="@{employees}">Employees</a><br/>
<a th:href="@{employees/addEmployee}">Add new Employee</a><br/>
<a th:href="@{departments}">Departments</a><br/>
<a th:href="@{departments/addDepartment}">Add new Department</a><br/>
<a th:href="@{positions}">Positions in company</a><br/>
<a th:href="@{positions/addPosition}">Add new Positions in company</a><br/>
</body>
</html>